@use './reset/' as *;
@use './color/' as color;
@use './responsive/' as adjust;
@use './size/' as size;
@use './typography/' as type;


.testimonial {
  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

  padding: 2rem;
  display: grid;
  grid-template-areas: "avatar header header header
  highlight highlight highlight highlight
  quote quote quote quote
  quote quote quote quote";

  &__avatar {
    grid-area: avatar;
  }
  &__name {
    grid-area: header;
  }

  &__role {
    grid-area: header;
  }

  &__highlight {
    grid-area: highlight;
  }

  &__quote {
    grid-area: quote;
  }
}



.purple {
  background-color: color.$purple-500;
}

.grey {
  background-color: color.$grey-500;
}

.white {
  background-color: color.$white;
}

.dark-blue {
  background-color: color.$dark-blue;
}

.attribution { 
  font-size: 11px; 
  text-align: center;

  & a { 
    color: hsl(228, 45%, 44%); 
  }
}
