@use './reset/';
@use './color/';
@use './responsive/';
@use './size/';
@use './typography/';






.purple {
  background-color: color.$purple-500;
}

.grey {
  background-color: color.$grey-500;
}

.white {
  background-color: color.$white;
}

.dark-blue {
  background-color: color.$dark-blue;
}

.attribution { 
  font-size: 11px; 
  text-align: center;

  & a { 
    color: hsl(228, 45%, 44%); 
  }
}
